{% extends "base_menu.html" %}
{% block content %}

<form id="SearchonMechanicalProperties" action="{{url_for("MechanicalProperties")}}" method="post" >
    <div class="card">
        <div class="card-header">
            <strong class="card-title">选择制造方式</strong>
        </div>
        <div class="card-body">

            <select name="manufacturing technology" data-placeholder="Select manufacturing technology..." class="standardSelect"
                    tabindex="1">
                <option value="All">--全部都选--</option>
                <option value="Conventional PM">传统PM(粉末冶金)</option>
                <option value="MIM">MIM(金属注射成型)</option>

            </select>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <strong class="card-title">选择材料类型</strong>
        </div>
        <div class="card-body">

            <select name="material type" data-placeholder="Select material type ... " class="standardSelect"
                    tabindex="1">
                <option value="All">--全部都选--</option>
                <option value="Ferrous structural">Ferrous structural</option>
                <option value="Non-ferrous structural">Non-ferrous structural</option>
                <option value="Bearing">Bearing</option>
                <option value="Stainless Steel">Stainless Steel</option>
            </select>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <strong class="card-title">Specify Mechanical Property Ranges</strong>
        </div>
        <div class="card-body">
        <td class="repcell">Ultimate Tensile Strength Range</td>
            <select name="Ultimate Tensile Strength Range" data-placeholder="Specify Mechanical Property Ranges" class="standardSelect"
                    tabindex="1">
                <option value="Any">--任意--</option>
                <option value="<200Mpa"><200Mpa</option>
                <option value="200-400Mpa">200-400Mpa</option>
                <option value="400-600Mpa">400-600Mpa</option>
                <option value="600-800Mpa">600-800Mpa</option>
                <option value=">800Mpa">>800Mpa</option>
            </select>
            <br />
            <br />
        <td class="repcell">Yield Stress Range</td>
            <select name="Yield Stress Range" data-placeholder="Specify Mechanical Property Ranges" class="standardSelect"
                    tabindex="1">
                <option value="Any">--任意--</option>
                <option value="<200Mpa"><200Mpa</option>
                <option value="200-400Mpa">200-400Mpa</option>
                <option value="400-600Mpa">400-600Mpa</option>
                <option value="600-800Mpa">600-800Mpa</option>
                <option value=">800Mpa">>800Mpa</option>
            </select>
            <br />
            <br />
        <td class="repcell">Young's Modulus E Range</td>
            <select name="Youngs Modulus E Range" data-placeholder="Specify Mechanical Property Ranges" class="standardSelect"
                    tabindex="1">
                <option value="Any">--任意--</option>
                <option value="<80Gpa"><80Gpa</option>
                <option value="80-110Gpa">80-110Gpa</option>
                <option value="110-140Gpa">110-140Gpa</option>
                <option value="140-180Gpa">140-180Gpa</option>
                <option value=">180Gpa">>180Gpa</option>
            </select>
            <br />
            <br />
        <td class="repcell" >Hardness Range [Vickers]</td>

            <select name="Hardness Range [Vickers]" data-placeholder="Specify Mechanical Property Ranges" class="standardSelect"
                    tabindex="1" >
                <option value="Any">--任意--</option>
                <option value="<100"><100</option>
                <option value="100-200">100-200</option>
                <option value="200-300">200-300</option>
                <option value="300-400">300-400</option>
                <option value=">400">>400</option>
            </select>

            <br />
            <br />

            <button type="submit" class="btn btn-success btn-sm" value="Submit">
                <i class="fa fa-dot-circle-o"></i> 提交
            </button>
            <button type="reset" class="btn btn-success btn-sm" value="Reset">
                <i class="fa fa-ban"></i> 重置
            </button>
        </div>
    </div>

</form>
{% endblock %}
