{% extends "base_menu.html" %}
{% block content %}

<div class="card-body">
    <h4 class="card-title">DETAILS OF GRADE FE-50.0CO</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Chemical Composition
                </th>
                <th>
                    %content
                </th>
            </tr>
            </thead>

            <tbody id="sortBodyTag">
            <tr>
                <td class="repcell">Pressed and Sintered</td>
                <td class="repcell">4 of 5</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Manufacturing Conditions
                </th>
                <th>
                    Number of datasets
                </th>
            </tr>
            </thead>

            <tbody id="sortBodyTag">
            <tr>
                <td class="repcell">Pressed and Sintered</td>
                <td class="repcell">4 of 5</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Density Range
                </th>
                <th>
                    < 7.45
                </th>
            </tr>
            </thead>

            <tbody id="sortBodyTag">
            <tr>
                <td class="repcell"> Hardness (HRF) []</td>
                <td class="repcell">99.6</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}