{% extends "base_menu.html" %}
{% block content %}

<!-- partial -->
<form id="supplierReport" action="{{url_for("SUPPLIERLIST")}}" method="post">

        <div class="card-header">
            <strong class="card-title">选择地区</strong>
        </div>
        <div class="card-body">

            <select name="Region" data-placeholder="Choose a Region..." class="standardSelect"
                    tabindex="1">

                <option value="North America">北美</option>
                <option value="Europe">欧洲</option>
                <option value="Asia">亚洲</option>
            </select>

<!--            <button type="submit" class="btn btn-success btn-sm" value="Submit">-->
<!--                <i class="fa fa-dot-circle-o"></i> 提交-->
<!--            </button>-->
<!--            <button type="reset" class="btn btn-success btn-sm" value="Reset">-->
<!--                <i class="fa fa-ban"></i> 重置-->
<!--            </button>-->
        </div>

        <div class="card-header">
            <strong class="card-title">材料类别</strong>
        </div>
        <div class="card-body">

            <select name="Material" data-placeholder="Choose a Material..." class="standardSelect"
                    tabindex="1">

                <option value="All">--全部都选--</option>
                <option value="Structural Ferrous">Structural Ferrous</option>
                <option value="stainless Steels">stainless Steels</option>
                <option value="Powder Forged Steels">Powder Forged Steels</option>
                <option value="Structural Non-Ferrous Copper Base">Structural Non-Ferrous Copper Base</option>
                <option value="Structural Non-Ferrous Aluminium Base">Structural Non-Ferrous Aluminium Base</option>
                <option value="Bearing Alloys">Bearing Alloys</option>
                <option value="Metal Injection Moulding">Metal Injection Moulding</option>

            </select>
            <br />
            <br />

<p>
            <button type="submit" class="btn btn-success btn-sm" value="Submit">
                <i class="fa fa-dot-circle-o"></i> 提交
            </button>
            <button type="reset" class="btn btn-success btn-sm" value="Reset">
                <i class="fa fa-ban"></i> 重置
            </button>
</p>
        </div>

</form>
{% endblock %}