<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="line" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var lineChart = echarts.init(document.getElementById('line'));

        // 使用刚指定的配置项和数据显示图表。
        lineChart.setOption({{line_options | safe}});
</script>

<!--<div class="btn-group" role="group" aria-label="Basic example" align="middle">-->
<!--                          <button type="button" class="btn btn-outline-secondary">1</button>-->
<!--                          <button type="button" class="btn btn-outline-secondary">2</button>-->
<!--                          <button type="button" class="btn btn-outline-secondary">3</button>-->
<!--                          <button type="button" class="btn btn-outline-secondary">4</button>-->
<!--                          <button type="button" class="btn btn-outline-secondary">5</button>-->
<!--                        </div>-->

<a href="{{ url_for('DetailsofGrade', gradeNum = gradeNum, pages = 0) }}"> /&nbsp;1 /&nbsp; </a>
<a href="{{ url_for('DetailsofGrade', gradeNum = gradeNum, pages = 1) }}"> /&nbsp;2 /&nbsp; </a>
<a href="{{ url_for('DetailsofGrade', gradeNum = gradeNum, pages = 2) }}"> /&nbsp;3 /&nbsp; </a>
<a href="{{ url_for('DetailsofGrade', gradeNum = gradeNum, pages = 3) }}"> /&nbsp;4 /&nbsp; </a>
<a href="{{ url_for('DetailsofGrade', gradeNum = gradeNum, pages = 4) }}"> /&nbsp;5 /&nbsp; </a>

</body>