    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Chemical Composition
                </th>
                <th>
                    %content
                </th>
            </tr>
            </thead>
            <tbody id="sortBodyTag">
            <tr>
                <td class="repcell">Pressed and Sintered</td>
                <td class="repcell">4 of 5</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Manufacturing Conditions
                </th>
                <th>
                    Number of datasets
                </th>
            </tr>
            </thead>

            <tbody id="sortBodyTag">
            <tr>
                <td class="repcell">Pressed and Sintered</td>
                <td class="repcell">4 of 5</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Density Range
                </th>
                <th>
                    < 7.45
                </th>
                <th>
                    7.45 - 7.55
                </th>
                <th>
                    7.55 - 7.65
                </th>
                <th>
                    7.65 - 7.75
                </th>
            </tr>
            </thead>

            <tbody id="sortBodyTag">
            <tr>
                <td class="repcell"> Hardness (HRF) []</td>
                <td class="repcell"></td>
                <td class="repcell"></td>
                <td class="repcell">99.6</td>
                <td class="repcell"></td>
            </tr>
            </tbody>
        </table>
    </div>