{% extends "base_menu.html" %}
{% block content %}
<!-- partial -->
<div class="row">
<div class="col-12 doc-header">
                <a class="btn btn-success" href="{{url_for('index')}}"><i class="mdi mdi-home mr-2"></i>Back to home</a>
                <h1 class="text-primary mt-4">Documentation</h1>
              </div>
</div>
<div class="row doc-content">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">



                                    <h2>粉末冶金数据库</h2>
                                    <br><br>
                                    MIM is a development of the traditional PM process. The standard PM process is to
                                    compact a lubricated powder mix in a rigid die by uniaxial pressure, eject the
                                    compact from the die, and sinter it. Quite complicated shapes can be produced by the
                                    million, but because the part must be ejected, i.e. pushed out of the die cavity
                                    then parts with undercuts or projections at right angles to the pressing direction
                                    cannot be made directly. This limitation is substantially removed by the MIM
                                    process.
                                    <br><br>
                                    The use of the injection moulding of thermo-plastic for the production of quite
                                    intricate parts has been common for many years, and such parts are relatively cheap.
                                    However, they have poor mechanical properties for engineering applications. MIM
                                    incorporates a very high volume fraction of metal powder in a mix to produce a
                                    plastic-bonded metal or ceramic part. The careful removal of the plastic binder
                                    leaves a skeleton of metal or ceramic which, that can be sintered in much the same
                                    way as die compacted parts.
                                    <br><br>
                                    After sintering densities of 95% or more are reached and the mechanical properties
                                    are, generally, superior to those of traditional PM parts.
                                    <br><br>
                                    If the shape allows the production of the part by conventional pressing and
                                    sintering then MIM would in most cases be too expensive.
                                    <br><br>
                                    However, if the required number of complex shaped parts is higher than a certain
                                    amount MIM is cheaper than machining.
                                    <br><br>
                                    The effect of the volume production on cost is that, for example, for a small part
                                    weighing 4.5g the cost per part falls from $1.4 for an annual production of 250,000
                                    pieces to $0.2 for 3 million or more (although the bigger the part the smaller is
                                    the gap between the cost of 250,000 and 3 million pieces).
                                    <br><br>
                                    A competing process to MIM is investment casting, and for most characteristics of
                                    parts produced by the two processes MIM is superior, especially in the case of high
                                    part numbers of castings, and of course in non-castable alloys, and many shapes that
                                    are possible by MIM cannot be produced by other routes.
                                    <br><br>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>>
            <!-- content-wrapper ends -->
{% endblock %}