{% extends "base_menu.html" %}
{% block content %}
        <!-- partial -->
<div class="row">
<div class="col-12 doc-header">
                <a class="btn btn-success" href="{{url_for('index')}}"><i class="mdi mdi-home mr-2"></i>Back to home</a>
                <h1 class="text-primary mt-4">Documentation</h1>
              </div>
</div>
<div class="row doc-content">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>粉末冶金数据库</h2>
                                    <font face="Arial, Helvetica, sans-serif" size="2"><b><font
                                            face="Arial, Helvetica, sans-serif" size="2"><font size="3"><b>GUIDELINES
                                        FOR SPECIFYING A P/M PART</b></font></font></b></font></div>
                                <p><font face="Arial, Helvetica, sans-serif" size="2"><font
                                        face="Arial, Helvetica, sans-serif" size="2">Although
                                    powder metallurgy industry standards (Refs 1,2) provide useful physical and
                                    mechanical property design data for engineers familiar with the P/M process,
                                    those less experienced with this manufacturing process may benefit from additional
                                    guidance. The following sections offer some guidelines to consider when using
                                    the conventional powder metallurgy process [not metal injection molding (MIM)
                                    or hot isostatic pressing (HIP)] for a new product design.<br>
                                    <br>
                                </font></font>
                                    <font face="Arial, Helvetica, sans-serif" size="2"> <b>Part Size</b> - the size
                                        limitation of P/M parts is based on powder compressibility and press tonnage.
                                        The typical steel P/M part will satisfy the following characteristics
                                        <li>projected surface area - less than 50 in.2 (32,000 mm2)</li>
                                        <li>diameter of less than 7 in. (185 mm) or up to 12 in. (300 mm) for parts with
                                            a large bore
                                        </li>
                                        <li>length of 6 in. (75 mm) maximum, 0.060 in. (1.5 mm) minimum</li>
                                        <li>length : diameter ratio of 5:1 maximum; length :wall thickness ratio of 8:1
                                            maximum<br>
                                            <font face="Arial, Helvetica, sans-serif" size="2">If the product design
                                                will
                                                use a nonferrous material the projected area can be increased by
                                                50%.<br>
                                                <br>
                                                <b>Part Shape</b> - part geometry must be compatible with a uniaxial
                                                compaction
                                                motion in the vertical direction (see Figure at end of this document).
                                                <font face="Arial, Helvetica, sans-serif" size="2">Undercut,
                                                    re-entrant or threaded features are typically formed or machined in
                                                    a secondary
                                                    operation. Significant variations in part length in the
                                                    cross-section require
                                                    different tooling motions in the compaction press. These are
                                                    typically limited
                                                    to five different levels, though additional small changes in part
                                                    length (levels)
                                                    are possible through selected tool designs (see design manuals (3,4)
                                                    for illustrations
                                                    of complex P/M part designs). Part lengths greater than 1 inch (25
                                                    mm) will
                                                    result in density variation from the top surface (highest density)
                                                    to the mid
                                                    length position (lower density).<br>
                                                    <br>
                                                    <b>Part Quantity</b> - due to the use of dedicated "hard" tooling a
                                                    cost-effective
                                                    quantity for production orders should be discussed.<br>
                                                    <br>
                                                    <b>Mechanical / Physical Requirements</b> - Industry Standards (1,2)
                                                    provide
                                                    a wide range of design properties to assist selection of the proper
                                                    material
                                                    for most product applications. The medium density steel grades
                                                    (6.4-6.9 g/cm3)
                                                    typically replace cast iron or plain carbon steel; the high density
                                                    grades (7.0-7.4
                                                    g/cm3) typically replace ductile iron and many heat treated steels;
                                                    powder forged
                                                    and pore-free material systems typically replace the high
                                                    performance steels.
                                                    If the part design has critical property requirements beyond the
                                                    typical values
                                                    listed in the standard, these requirements should be specified on
                                                    the engineering
                                                    print.<br>
                                                    <br>
                                                    <b>Effect of Density</b> - the density of PM parts varies according
                                                    to the pressing
                                                    pressure used. It is also affected by some of the other processing
                                                    parameters.
                                                    It is important to recognize that in addition to mechanical
                                                    properties, some
                                                    key physical properties are also affected by density. For example,
                                                    Elastic Modulus
                                                    and Thermal Conductivity increase significantly with increasing
                                                    density; Poisson's
                                                    ratio and Thermal Expansion also increase, although more slowly.<br>
                                                    <br>
                                                    <b>Apparent Hardness</b> - because of differences in structure,
                                                    gross indentation
                                                    hardness values (Rockwell or Vickers) of wrought metals and PM
                                                    materials cannot
                                                    be compared directly. The indenter penetrates further into the
                                                    porous PM structure,
                                                    thereby giving a lower hardness value than the intrinsic hardness of
                                                    the metal
                                                    itself. Hardness values for PM materials, therefore, when obtained
                                                    on macro-hardness
                                                    testers are referred to as "apparent harness" and represent the
                                                    combined effect
                                                    or porosity and the metal particle hardness. For example, a heat
                                                    treated PM
                                                    steel may measure an apparent hardness of 30 Rockwell C while the
                                                    actual material
                                                    measures 54-58 Rockwell C.<br>
                                                    <br>
                                                </font></font></li>
                                    </font><font face="Arial, Helvetica, sans-serif" size="2"><font
                                            face="Arial, Helvetica, sans-serif" size="2"><b>Part
                                        Use</b> - the part specification or drawing should provide as much additional
                                        information regarding the part use as possible. The following questions are most
                                        important for the material and process selection:
                                        <li>will the part operate under a pressure; must it be leak tight?</li>
                                        <li>must the part be protected from corrosion - how severe? o will the part be
                                            machined - which surfaces, what tolerances?
                                        </li>
                                        <li>will the part require heat treatment - what type? o will the part be used
                                            in a high impact loaded application?
                                        </li>
                                        <li>will the part be used in a wear application - which surfaces? is surface
                                            finish
                                            an important design feature, where, how to measure?
                                        </li>
                                        <li>will the part be used in a magnetic application?</li>
                                        <li>will the part be used in a thermally demanding application?</li>
                                        <li>must the part be burr-free - what type, amount of corner radius?</li>
                                        <li>will the part be welded?</li>
                                        <li>is there a region critical to the performance of the part?</li>
                                        <li>any unique packaging requirements?<br>
                                        </li>
                                        More detailed product design information is available in the industry design
                                        manuals
                                        (Refs 3,4). Material coding systems are explained in the standards (1,2)<br>
                                        <br>
                                        To select a material optimum in both properties and cost-effectiveness, it is
                                        essential that the part application be discussed with the P/M parts
                                        manufacturer.
                                        Both the purchaser and the manufacturer should, in order to avoid possible
                                        misconceptions
                                        or misunderstandings, agree to the following conditions prior to the manufacture
                                        of a P/M part: minimum strength value, grade selection, chemical composition,
                                        proof testing, typical property values and processes that may affect the part
                                        application. The Global PM Database gives raw data on materials currently in
                                        production
                                        at key component makers worldwide. In many cases the database gives hi and lo
                                        ranges of properties. It is intended as a guide to designers in the selection
                                        of materials and processing methods in PM. Figures are not normative and are not
                                        to be regarded as guaranteed or minimum values. The database is intended to be
                                        the first stop before the designer makes direct contact with individual
                                        manufacturers.<br>
                                        <br>
                                        <b>For more information on line consult industry websites as follows:<br>
                                        </b>
                                        <li>Designing with PM:<br>
                                            <b>&gt;</b> www.epma.com - enter - about PM - PM Design<br>
                                            <b>&gt;</b> www.mpif.org - designing with P/M - design information center
                                        </li>
                                        <li>Hard Copy Publications on PM:<br>
                                            <b>&gt;</b> www.epma.com - enter - publications<br>
                                            <b>&gt;</b> www.mpif.org - publications
                                        </li>
                                    </font></font>
                                <p><font face="Arial, Helvetica, sans-serif" size="2"><font
                                        face="Arial, Helvetica, sans-serif" size="2"><br>
                                    <br>
                                    <b>References<br>
                                    </b>1 - MPIF Standard 35 "Materials Standards for P/M Structural Parts"<br>
                                    2 - ISO5755:2001 "Sintered metal materials - specifications"<br>
                                    3 - "Powder Metallurgy Design Manual" (published MPIF)<br>
                                    4 - "Introduction to Powder Metallurgy: The Process and its Products" (published
                                    by EPMA) <br>
                                    <br>
                                    <b>Designing Sintered Components: Some Do's and Don'ts</b> - see over
                                    page</font></font></p>
                                <p align="center"><img src="/static/images/aboutpowdermetallurgy/guide1.jpg" width="466" height="648" name="guide">
                                </p>
                                <p align="center">&nbsp;</p>
                                <p align="center"><br>
                                    <b><font face="Arial, Helvetica, sans-serif" size="3">FATIGUE DESIGN CONCEPTS
                                        FOR POWDER METAL PARTS</font></b></p>
                                <p align="left"><font face="Arial, Helvetica, sans-serif" size="2">Powder metal
                                    has significantly different stress - strain and notch sensitivity from wrought
                                    steels .Therefore to obtain the most cost effective solution using PM parts
                                    it is essential that these are well understood by the design engineer, and that
                                    PM data is used correctly in design calculations.<br>
                                    <br>
                                    In <b>structural fatigue analysis</b> of Powder Metal (PM) components, there
                                    are strong arguments for adopting a <b>local stress</b> design concept.<br>
                                    <br>
                                    The analysis of PM materials differs significantly from that of, for instance,
                                    wrought materials in terms principally of two issues: <b>notch sensitivity</b>
                                    and the <b>correction for the effect of mean stress</b>.<br>
                                    <br>
                                    <b>Notch Sensitivity<br>
                                    </b>Porous PM materials are relatively insensitive to the influence of external
                                    notches. The following figure summarises reported information on the notch
                                    sensitivity
                                    (i.e. the ratio of fatigue strength in notched and un-notched states) of PM
                                    materials in axial and bending modes as a function of the stress concentration
                                    factor, Kt, of the external notch. It can be seen that notch sensitivity of
                                    PM materials is particularly low in the bending mode.</font></p>
                                <p align="center"><img src="/static/images/aboutpowdermetallurgy/guide2.gif" width="554" height="311"></p>
                                <p align="left"><font face="Arial, Helvetica, sans-serif" size="2">The low notch
                                    sensitivity of fatigue endurance limit in bending mode of PM steels, compared
                                    with those of both wrought steels and nodular cast irons, is demonstrated, as
                                    follows:</font></p>
                                <p align="center"><img src="/static/images/aboutpowdermetallurgy/guide3.gif" width="614" height="361"></p>
                                <p align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b>Mean stress
                                    correction<br>
                                </b>To assess the influence of mean stress on fatigue endurance limit of a PM
                                    material, it is necessary to have the results of fatigue tests carried out for
                                    at least two different values of stress ratio, R ( = smin/smax). The database
                                    contains information, for certain material grades, on fatigue endurance limit
                                    at values of R other than -1. On the basis of these data, Haigh diagrams can
                                    be contructed to interpolate or extrapolate to the mean stress or R ratio of
                                    interest. The following normalised Haigh diagrams have been constructed to summarise
                                    the reported data for influence of mean stress on fatigue endurance limit, in
                                    axial and bending loading modes. All reported relationships for PM materials
                                    fall within the limits of the pairs of lines on these diagrams.</font></p>
                                <p align="center"><img src="/static/images/aboutpowdermetallurgy/guide4.gif" width="554" height="311"><br>
                                    <img src="/static/images/aboutpowdermetallurgy/guide5.gif" width="554" height="311">
                                </p>
                                <p align="left">
                                    <font face="Arial, Helvetica, sans-serif" size="2">Compared with wrought steels,
                                        PM materials are relatively sensitive to changes in mean stress; their response
                                        is much more comparable with that of cast irons. PM materials are therefore
                                        particularly
                                        suited to fatigue loading regimes with negative values of R i.e. with loading
                                        being predominantly compressive.<br>
                                        <br>
                                        Further supporting detail on fatigue design of PM parts is available from the
                                        following document (right click and choose 'Save target as...'):<br>
                                        <li><A href="/static/images/aboutpowdermetallurgy/download/Concepts&MaterialsforPMFatigueDesign.pdf"> <font
                                                color="#FF0000">"Concepts
                                            and Required Material Data for Fatigue Design of PM
                                            Components"</font></A><font color="#FF6600">
                                        </font>by CM Sonsino. Proceedings of EuroPM 2001 Conference, Nice.
                                        </li>
                                        <br>
                                        <br>
                                        or from publications available from the following websites:<br>
                                        <li>www.epma.com - enter - publications</li>
                                        <li>www.mpif.org - publications</li>
                                    </font>
                                <p><font face="Arial, Helvetica, sans-serif" size="2"><br>
                                    <br>
                                    <b>Rolling Contact Fatigue (RCF) behaviour of PM materials<br>
                                    </b>The controlling factor in rolling contact fatigue is the Hertzian contact
                                    stress. The Hertzian contact stress, S, between two parallel cylindrical rollers,
                                    for instance, is given by the relationship:- S = [0.35F (1/r1 + 1/r2)]/[b (1/E1
                                    + 1/E2)] where F is the applied load, r1 and r2 are the radio of the two rollers
                                    respectively and E1 and E2 are the moduli of elasticity for the two roller materials
                                    respectively.<br>
                                    PM materials below full density have an elastic modulus lower than that of
                                    conventional
                                    steels. So, for a given load, these materials operate at a lower Hertzian stress.
                                    It is therefore important to use the correct elastic modulus when carrying out
                                    design calculations on PM materials.<br>
                                    The following table shows the relationship between E and density level for ferrous
                                    PM materials:</font><font face="Arial, Helvetica, sans-serif" size="2"><br>
                                </font>
                            </p>>
                                    </tr>
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

        <!-- content-wrapper ends -->
{% endblock %}