{% extends "base_menu.html" %}
{% block content %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>粉末冶金数据库</h2>
                                    <b>Influences of material and manufacturing condition parameters on the properties
                                        of PM materials</b></td></tr></table><br><br>Like fully dense wrought products,
                                    the properties of PM materials can be affected significantly by a range of
                                    post-sintering <b>heat treatment</b> processes and details of many heat treated
                                    materials are contained within this database.<br><br>However, there are also a
                                    number of parameters that can affect properties in the non-heat treated, as-sintered
                                    condition:<br><br><b>Base iron powder type</b><br><br> Ferrous PM materials, of
                                    either the elementally blended or diffusion-alloyed type, can contain one or other
                                    of two base iron powder types: <b>atomised</b> iron or <b>sponge</b> iron.<br><br>Atomised
                                    iron powders are produced by breaking up a stream of liquid metal by impingement of
                                    high-pressure water jets.<br><br>Sponge iron powders are produced by the direct
                                    reduction of magnetite (iron oxide) ore. The powder particles produced contain
                                    finely distributed pores, which are quite rounded in shape, whereas atomised powder
                                    particles do not contain internal pores.<br><br>So, at equivalent density levels, a
                                    substantial proportion of the porosity in a sponge iron based material is fine and
                                    rounded and therefore relatively benign in its influence on properties, whereas all
                                    the porosity in an atomised iron based material is inter-particle porosity, which
                                    can be coarser and more angular in shape.<br><br>However, the internal porosity in
                                    sponge iron is difficult to close up in pressing, therefore the maximum levels of
                                    attainable green density are lower for sponge iron grades than for atomised grades.
                                    For this reason, atomised iron based materials would be used for high density (and
                                    therefore high performance) applications.<br><br><b>Sintering conditions</b><br><br>A
                                    number of sintering process conditions can affect as-sintered properties. The type
                                    of sintering atmosphere and time at sintering temperature, for instance, can both
                                    exert an influence.<br><br>However, the influence of sintering temperature is of
                                    greatest significance. For ferrous materials, the increased levels of diffusion at
                                    sintering temperatures above about 1200oC (~2200oF) can produce two effects, both of
                                    them beneficial to properties.<br><br>For all ferrous grades, the higher temperature
                                    promotes a rounding of pore shape. This is particularly beneficial to ductility,
                                    toughness and fatigue strength.<br><br>For the more highly-alloyed and hardenable
                                    grades, the increased diffusional mobility of alloying additions, such as nickel, at
                                    the higher sintering temperature also has a significant beneficial effect on
                                    properties.<br><br><b>Pressing conditions</b><br><br>There is a limit to the
                                    achievable green density in conventional (cold) compaction. However, there are
                                    alternative compaction technologies available - e.g. Warm Compaction and the Double
                                    Press-Double Sinter (DPDS) route - that allow higher green densities (and therefore
                                    higher sintered densities) to be attained. Higher density leads to improved
                                    properties/performance.<br><br>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
{% endblock %}