{% extends "base_menu.html" %}
{% block content %}
<div class="card-body">
    <h4 class="card-title">Grade : AC-2014</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">2.5</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/AC-2014_T2_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;AC-2014_T2_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">2.6</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/AC-2014_T2_A_-1_1_2_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;AC-2014_T2_A_-1_1_2_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.84</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FC-0208_AS_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FC-0208_AS_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">Quenched and Tempered 175 deg. C</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.84</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FC-0208_QT_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FC-0208_QT_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.46</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FL-4405_AS_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FL-4405_AS_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">Quenched and Tempered 177 deg. C</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.46</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FL-4405_QT_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FL-4405_QT_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Sinter Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.1</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FL-5305_SH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FL-5305_SH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Sinter Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.95</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLC-4608_SH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLC-4608_SH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Case Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.4</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_CH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_CH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">Case Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.46</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_CH_A_-1_1_2_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_CH_A_-1_1_2_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">Case Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.46</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_CH_A_-1_1_3_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_CH_A_-1_1_3_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.45</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_AS_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_AS_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.45</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_AS_A_-1_1_2_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_AS_A_-1_1_2_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.11</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4405_AS_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4405_AS_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Sinter Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.91</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLNC-4408_SH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLNC-4408_SH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Powder Forged</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.86</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/PFLN2-4408_PF_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;PFLN2-4408_PF_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Grade : F-08C2/FC-0208</h4>
    <p class="card-description">
        Add class <code>.table-{color}</code>
    </p>
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Material Condition
                </th>
                <th>
                    R
                </th>
                <th>
                    Kt
                </th>
                <th>
                    Density (g/cc)
                </th>
                <th>
                    Strain Life Curve File
                </th>


            </tr>
            </thead>

            <tbody id="sortBodyTag">
            <tr>
                <td class="repcell">As Sintered</td>
                <td class="repcell">Bending</td>
                <td class="repcell">-1</td>
                <td class="repcell">1</td>
                <td class="repcell">6.93</td>
                <td class="repcell">112</td>
                <td class="repcell"><a
                        href="/static/images/SNFatigueData/F-00C2_AS_PB_-1_1_1_SNCurve.pdf"
                        target="_blank"><img border="0" src="static/images/download.gif"
                                             align="abdmiddle">&nbsp;F-00C2_AS_PB_-1_1_1_SNCurve.pdf</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
