{% extends "base_menu.html" %}
{% block content %}
                                <b>Grade : AC-2014</b></td></tr>
                                <tr>
                                    <td class="repcell" colspan="5"></td>
                                </tr>
                                </table>
                                <table id="Table0" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table0')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table0sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table0')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table0sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table0')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table0sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table0')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table0sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table0')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table0sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">2.5</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/AC-2014_T2_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;AC-2014_T2_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">2.6</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/AC-2014_T2_A_-1_1_2_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;AC-2014_T2_A_-1_1_2_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : F-08C2/FC-0208</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table1" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table1')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table1sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table1')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table1sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table1')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table1sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table1')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table1sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table1')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table1sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.84</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FC-0208_AS_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FC-0208_AS_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">Quenched and Tempered 175 deg. C</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.84</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FC-0208_QT_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FC-0208_QT_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : FL-05M1/FL-4405</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table2" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table2')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table2sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table2')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table2sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table2')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table2sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table2')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table2sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table2')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table2sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.46</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FL-4405_AS_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FL-4405_AS_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">Quenched and Tempered 177 deg. C</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.46</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FL-4405_QT_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FL-4405_QT_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : FL-5305</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table3" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table3')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table3sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table3')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table3sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table3')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table3sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table3')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table3sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table3')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table3sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Sinter Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.1</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FL-5305_SH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FL-5305_SH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : FLC-4208</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table4" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table4')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table4sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table4')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table4sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table4')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table4sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table4')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table4sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table4')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table4sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Sinter Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.94</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLC-4208_SH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLC-4208_SH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : FLC-4608</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table5" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table5')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table5sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table5')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table5sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table5')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table5sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table5')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table5sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table5')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table5sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Sinter Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.95</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLC-4608_SH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLC-4608_SH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : FLN2-4400</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table6" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table6')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table6sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table6')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table6sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table6')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table6sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table6')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table6sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table6')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table6sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Case Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.4</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_CH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_CH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">Case Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.46</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_CH_A_-1_1_2_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_CH_A_-1_1_2_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">Case Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.46</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_CH_A_-1_1_3_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_CH_A_-1_1_3_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.45</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_AS_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_AS_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.45</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4400_AS_A_-1_1_2_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4400_AS_A_-1_1_2_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : FLN2-4405</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table7" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table7')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table7sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table7')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table7sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table7')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table7sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table7')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table7sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table7')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table7sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">As Sintered</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.11</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLN2-4405_AS_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLN2-4405_AS_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : FLNC-4408</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table8" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table8')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table8sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table8')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table8sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table8')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table8sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table8')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table8sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table8')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table8sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Sinter Hardened</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">6.91</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/FLNC-4408_SH_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;FLNC-4408_SH_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <tr>
                                        <td class="reptitle3" colspan="5"><b>Grade : P/FLN2-4408</b></td>
                                    </tr>
                                    <tr>
                                        <td class="repcell" colspan="5"></td>
                                    </tr>
                                </table>
                                <table id="Table9" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%">
                                    <THEAD>
                                    <tr>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(0,'Table9')">Material
                                            Condition</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                              height="10" id="Table9sortimg0"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(1,'Table9')">R</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table9sortimg1"</td>
                                        <td class="attheader" colspan="1"><a
                                                href="javascript:sortTable2(2,'Table9')">Kt</a><img
                                                src="/static/images/spacer.gif" align="absmiddle" width="10" height="10"
                                                id="Table9sortimg2"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(3,'Table9')">Density
                                            (g/cc)</a><img src="/static/images/spacer.gif" align="absmiddle" width="10"
                                                           height="10" id="Table9sortimg3"</td>
                                        <td class="attheader" colspan="1"><a href="javascript:sortTable2(4,'Table9')">Strain
                                            Life Curve File</a><img src="/static/images/spacer.gif" align="absmiddle"
                                                                    width="10" height="10" id="Table9sortimg4"</td>
                                    </tr>
                                    </THEAD>
                                    <TBODY id="sortBodyTag">
                                    <tr>
                                        <td class="repcell">Powder Forged</td>
                                        <td class="repcell">-1</td>
                                        <td class="repcell">1</td>
                                        <td class="repcell">7.86</td>
                                        <td class="repcell"><a
                                                href="/static/images/StrainLifeData/PFLN2-4408_PF_A_-1_1_1_StrainLifeCurve.pdf"
                                                target="_blank"><img border="0" src="/static/images/download.gif"
                                                                     align="abdmiddle">&nbsp;PFLN2-4408_PF_A_-1_1_1_StrainLifeCurve.pdf</a>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id="datatable" class="atttable" cellspacing="0" cellpadding="0" align="center"
                                       width="98%"></tbody>
                                    <TFOOT>
                                    <tr>
                                        <td class="applybg" colspan="5"><img src="/static/images/spacer.gif" height="3"></td>
                                    </tr>
                                    </TFOOT>
                                </table>
                                <script language="JavaScript" src="/static/js/sortTable.js"></script>
                                <SCRIPT>var container="";var container2="";var objrefbutton = new Image();</SCRIPT>
                                <SCRIPT>
                                    try{doSortTable(6,"Table0");}catch(everything){}try{doSortTable(6,"Table1");}catch(everything){}try{doSortTable(6,"Table2");}catch(everything){}try{doSortTable(6,"Table3");}catch(everything){}try{doSortTable(6,"Table4");}catch(everything){}try{doSortTable(6,"Table5");}catch(everything){}try{doSortTable(6,"Table6");}catch(everything){}try{doSortTable(6,"Table7");}catch(everything){}try{doSortTable(6,"Table8");}catch(everything){}try{doSortTable(6,"Table9");}catch(everything){}
                                </SCRIPT>
                                <script language='javascript'>
                                    function checkName(){try{if(document.form.objname.value == ""){ alert("Please enter a name for this object");return false;}}catch(everything){return true;}}
                                </script>
                                <SCRIPT language='javascript'></SCRIPT>
                                </form></div>
                            <script>try{sortTable1(0);}catch(everything){}</script>
</body>
</html>


</div>
{% endblock %}