{% extends "index.html" %}

{% block content %}

              <a class="dropdown-item">
                <i class="mdi mdi-settings text-primary"></i>{{ user.username }}
              </a>

              <a class="dropdown-item"                  href="{{ url_for('show_add_user') }}" >
                <i class="mdi mdi-show_add_user text-primary"></i>show_add_user
              </a>

              <a class="dropdown-item"                  href="{{ url_for('logout') }}" >
                <i class="mdi mdi-logout text-primary"></i>登出
              </a>

{% endblock %}
